[submodule "zsh/vendor/antigen"]
	path = zsh/vendor/antigen
	url = git@github.com:zsh-users/antigen.git
[submodule "vendor/powerline-fonts"]
	path = vendor/powerline-fonts
	url = https://github.com/powerline/fonts
[submodule "vendor/powerline"]
	path = vendor/powerline
	url = git@github.com:powerline/powerline.git
[submodule "vendor/webicons"]
	path = vendor/webicons
	url = git@github.com:ryanoasis/nerd-filetype-glyphs-fonts-patcher.git
